<nav>
	<ul>
		<li><a href='/'>Brand</a></li>
		<li><a href='/products/'>Products</a></li>
		<li><a href='/articles/'>Blog</a></li>
		<li><a href='/articlesnew/'>Blog New</a></li>
		<li><a href='/courses/'>Courses</a></li>
		<li><a href='/viewtest/'>View Test</a></li>
		<li><a href='/contact/'>Contact</a></li>
		<li><a href='/about/'>About</a></li>
		<li>Classview nav override: <a href='/classview/blank'>No ID</a> | <a href='/classview/1'>ID=1</a></li>
		<li><a href='/classview/'>Raw Classview List</a> | <a href='/classview/filtered'>Filtered Classview List</a></li>
	</ul>
</nav>